/* ----- Home Slider ----- */
@media only screen and (min-width : 1000px) and (max-width: 1230px) {
    body #featured .video {
        float: left;
        width: 540px!important;
        left: 1px;
        position: relative;
        z-index: 1;
    }

    body #featured .orbit-slide article .container .col_12 {
        width: 900px!important;
    }

    #featured article .post-title > .button {
        left: 0px;
    }

    #featured .orbit-slide.has-video h2 {
        max-width: 330px!important;
        min-width: 330px!important;
    }

    #featured .orbit-slide.has-video .post-title > .button {
        left: 20px!important;
    }

    #featured article .post-title h2 {
        left: 0px;
    }

    #featured .has-video h2 {
        left: -10px!important;
    }

}

@media only screen and (min-width : 690px) and (max-width: 1000px) {
    .orbit-wrapper, .orbit-wrapper #featured, .orbit-wrapper #featured article  {
        height: 450px!important;
        position: relative!important;
        margin-bottom: 0em;
    }


    body #featured .orbit-slide article .container {
        top: -25px!important;
        opacity: 1!important;
        position: relative!important;
    }

    body #featured .orbit-slide article .container .col_12 {
        width: 600px!important;
    }

}


@media only screen and (min-width : 690px) and (max-width: 1000px) {

    body #featured .has-video .post-title {
        /*top: 48px!important;*/
        top: 24px!important;
    }

    body #featured article .post-title h2 span {
        font-size: 24px!important;
        line-height: 43px!important;
    }


    #featured article .post-title h2 {
        max-width: 325px!important;
        min-width: 325px!important;
    }

    #featured .orbit-slide.centered article .post-title h2 {
        max-width: 415px!important;
        min-width: 415px!important;
    }


}


@media only screen
and (max-width : 690px) {

    .orbit-wrapper #featured article .post-title h2 span {
        font-size: 18px;
    }

    .orbit-wrapper, .orbit-wrapper #featured {
        height: 325px!important;
        margin-bottom: 0em;
        margin-top: 0px;
    }

    .orbit-wrapper #featured article {
        height: 325px!important;
        margin-bottom: 3em;
        position: relative!Important;
    }

    .orbit-wrapper #featured article .post-title h2 span {
        line-height: 35px !important;
    }

    body .orbit-wrapper #featured article .post-title {
        top: 120px!important;
    }

    body .orbit-wrapper #featured article .post-title h2 {
        max-width: 240px!important;
        min-width: 240px!important;
    }

    #featured .orbit-slide.centered article .post-title h2 {
        max-width: 265px!important;
        min-width: 265px!important;
    }

    body #featured .orbit-slide article .container {
        top: -20px!important;
        opacity: 1!important;
        position: relative!important;
    }

    body #featured .orbit-slide article .container .col_12 {
        width: 300px!important;
        position: relative;
    }

    body #featured .orbit-slide article .container {
        top: -35px!important;
    }

    body #featured article .post-title > .button {
        /*padding: 6px 9px!important;*/
        font-size: 10px;
        top: 10px;
        margin-left: 0px !important;
        border-width: 5px !important;
    }


    body #featured .more-info {
        display: block;
        top: 240px!important;
    }

    body #featured .has-video article div.post-title {
        top: 80px!Important;
    }

    body.single-portfolio .row .col.section-title h1 {
        width: 280px;
        margin: 0 auto;
    }

    body #featured .slide .post-title .video img {
        height: 169px!important;
    }

    body #featured .orbit-slide.has-video .col_12 .post-title h2 {
        margin-top: 190px!important;
    }

    body #featured .orbit-slide.has-video .post-title h2 {
        margin-top: 80px!important;
    }



}

@media only screen and (min-width : 1px) and (max-width: 1000px) {

    body #featured .has-video .post-title {
        top: 48px;
    }

    body #featured .has-video h2 {
        text-align: center!important;
        left: auto!Important;
        float: none!important;
        margin: 0 auto;
    }

    body #featured article .post-title > .button.large span {
        padding: 10px 29px;
        border-width: 6px;
    }

}

/* ----- Header logo & menu ----- */
@media only screen and (min-width : 1px) and (max-width: 1230px) {

    .col_30 {
        margin: 0px !important;
    }

    .col_90 nav ul.sf-menu {
        margin-right: 0px;
    }

    header#top span.logo-container {
        display: none;
    }

}


/* ----- Portfolio 2x columns ----- */
@media only screen and ( min-width : 1px ) and ( max-width: 1200px ) {

    .container.main-content.port-content2 {
        max-width: 570px !important;
    }

}


/* ----- Header Menu ( Full and Short ) & Back-to-top Button ----- */
@media only screen and ( min-width : 1px ) and ( max-width: 1015px ) {

    div.slider-nav {
        /*max-width: 90%!important;*/
    }

    header#top #toggle-nav {
        display: block!important;
    }

    .col_30 {
        width: 85%;
        padding: 0;
        margin: 0;
    }
    .col_90 {
        min-width: 36px;
    }

    header#top span.logo-container {
        display: none;
    }

    article.post.format-quote span.quotes {
        left: 17px;
        top: 4px;
        font-size: 50px;
    }

    .single-post article.post.format-quote .quote-inner {
        padding: 25px 5% 20px 55px;
    }

    article.post.format-quote a .quote-inner {
        padding: 20px 5% 20px 55px;
    }

    article.post.format-quote a .quote-inner h2.title,
    article.post.format-quote .quote-inner h2.title {
        font-size: 20px;
        line-height: 22px;
    }

    .back-to-top {
        display: none !important;
    }

    .prising_plan .prising-shadow {
        display: none;
    }

}


@media only screen and ( min-width : 1px ) and ( max-width : 1000px ) {

    .page-header-no-bg {
        height: 92px;
        width: 100%;
    }

    .page-header-no-bg h1 {
        font-size: 22px;
        line-height: 22px;
    }

    .call-to-actions {
        text-align: center;
        background-color: #fafafa;
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: #e3e3e3;
    }

    .call-to-actions h1,
    .call-to-actions h2,
    .call-to-actions h3,
    .call-to-actions h4,
    .call-to-actions h5,
    .call-to-actions h6 {
        text-align: center !important;
    }

    .testimonial_slider blockquote {
        width: 100%;
        margin: 0 auto;
    }

    .testim-prev,
    .testim-next {
        display: none;
    }

    #sidebar {
        margin-top: 40px;
    }

    /*** Home slider ***/


    body #featured .post-title h2,
    body #featured .post-title > .button,
    body #featured .post-title > span,
    body #featured .post-title div.video {
        margin-top: 0px!important;
    }

    .orbit-wrapper #featured article .post-title {
        top: 170px;
        left: 0px;
    }

    body #featured .post-title > .button {
        position: relative;
    }

    body #featured .has-video h2 {
        text-align: center!important;
        left: auto!Important;
        float: none!important;
        margin: 0 auto;
    }

    body #featured .post-title .video {
        float: none;
        margin: 0 auto;
        width: 100%!important;
        left: auto;
        position: relative;
        z-index: 1;
    }

    body #featured .post-title .video img {
        height: 338px!important;
    }

    body #featured article .post-title > .button {
        left: 0px;
        margin-left: 0px !important;
    }

    body #featured .orbit-slide.has-video h2 {
        max-width: 330px!important;
        min-width: 330px!important;
        margin-top: 60px!important;
    }

    body #featured .orbit-slide.has-video .post-title {
        text-align: center!Important;
    }

    body #featured .more-info {
        display: block;
        position: absolute;
        z-index: 10000;
        left: 80px !important;
        top: 387px;
    }

    body #featured a.more-info {
        display: block;
        color: #6d6d6d;
        border-radius: 1px 1px 1px 1px;
        background-color: #FFFFFF !important;
        padding: 3px 7px;
    }

    .orbit-wrapper #featured article .post-title{
        position: relative;
    }
}


@media only screen and ( min-width : 1px ) and ( max-width: 879px ) {

    .container.main-content.port-content3 {
        max-width: 345px !important;
    }

    .call-to-actions .col_4,
    .call-to-actions .col_6,
    .call-to-actions .col_8 {
        width: 100%;
        margin-right: 0px!important;
    }

}


@media only screen and ( min-width : 1px ) and ( max-width : 860px ) {

    div#portfolio-filter-cont{
        height: auto !important;
    }

    #portfolio-filters {
        width: 100%;
        height: auto !important;
        line-height: 0;
    }

    #portfolio-filters ul {
        position: relative;
        height: auto;
        width: 100%;
        padding: 10px 15%;
        background-color: #2d2d2d;
    }

    #portfolio-filters li {
        height: 20px;
        line-height: 20px;
    }

    #portfolio-filters a {
        background-image: none;
        font-size: 10px;
        padding: 3px 20px;
    }

    #portfolio-filters a.active {
        background-image: none;
    }

    span.portfolio-selectrd {
        width: 0px;
        height: 0px;
        display: none;
    }

}


@media only screen and ( min-width : 1px ) and ( max-width : 799px ) {

    #page-header-bg .span_6 h1 {
        font-size: 24px!important;
        line-height: 24px!important;
    }

    #page-header-bg .span_6 span.subheader {
        font-size: 18px!important;
    }

    #page-header-bg .span_6 {
        top: auto!important;
        float: none!important;
    }

}


/* ----- Comment Block ----- */
@media only screen and ( min-width : 1px ) and ( max-width: 700px ) {

    .comment-list .comment-arrow,
    .comment-list li.comment > div img.avatar {
        display: none !important;
    }

    .comment-list li.comment > div {
        padding-left: 16px;
    }

    .comment-list li.comment div.hover div.custom-comment-author,
    .comment-list li.comment div.hover div.custom-comment-webuza {
        padding-bottom: 60px !important;
        margin-right: 0 !important;
        padding-right: 0 !important;
    }

    .comment-list li.comment div.custom-comment-author,
    .comment-list li.comment div.custom-comment-webuza {
        padding-bottom: 60px !important;
        margin-bottom: -19px;
        margin-right: 0 !important;
        padding-right: 1px !important;
    }

    /* ----- Prising Plan ----- */
    .prising_plan.two_columns .prising_plan_column,
    .prising_plan.three_columns .prising_plan_column,
    .prising_plan.four_columns .prising_plan_column {
        width: 100%;
    }
}


@media only screen and ( min-width : 1px ) and ( max-width : 629px ) {

    .container.main-content.port-content4 {
        max-width: 282px !important;
    }

}


@media only screen and (min-width : 1px) and (max-width : 600px) {

    .single-container .sociable {
        position: static;
        float: left;
        margin-bottom: 0;
    }

    .single-container .single-content {
        height: auto;
        padding-left: 0;
        clear: left;
    }

    .single-container .sociable ul li {
        clear: none;
        float: left;
    }

    .post-tags {
        margin-left: 0;
    }

    #author-content .author-avatar {
        width: 60px;
        height: 60px;
    }

    #author-content .author-info {
        padding-left: 18px;
        padding-right: 18px;
        clear: left;
    }

    #author-content .author-avatar {
        position: static;
    }

    #author-content .author-avatar img {
        margin: 15px 18px;
    }

    .single-container .single-content {
        min-height: 20px;
    }

}


@media only screen and ( min-width : 1px ) and ( max-width : 580px ) {

    /* Blog List */
    article.post .post-content {
        padding-left: 0px!important;
    }

    article.post .post-meta {
        display: none!important;
    }

}


@media only screen and ( min-width : 1px ) and ( max-width: 409px ) {

    div.slider-nav, .container {
        width: 310px !important;
    }

    .col_3 {
        width: 100%;
        float: left;
        margin-top: 20px;
    }

    .promo-teaser.col_4 .teaser-content .teaser-title {
        height: 50px;
    }

    .promo-teaser.col_4 .teaser-content,
    .promo-teaser.col_6 .teaser-content {
        min-height: 163px;
        height: 163px;
    }

    .promo-teasers .promo-teaser.col-hover.col_4 .promo-teas-img,
    .promo-teasers .promo-teaser.col-hover.col_6 .promo-teas-img {
        height: 163px;
        max-height: 163px;
        max-width: 348px;
        width: 100%;
    }

    .team_member.col-hover.col_1,
    .team_member.col-hover.col_2,
    .team_member.col-hover.col_3,
    .team_member.col-hover.col_4,
    .team_member.col-hover.col_5 {
        width: 100% !important;
    }

    ul.portfolio-items li.recent-post.col-hover.col_4 {
        width: 310px;
        height: 290px;
        margin-right: 0px;
    }

    ul.portfolio-items li.recent-post .recent-image {
        height: 177px;
        width: 100%;
    }

    ul.portfolio-items li.recent-post .recent-image .image-hovered {
        width: 100%;
        height: 177px;
    }

    .recent-image {
        width: 100%;
        height: 220px;
    }

    .recent-image .image-hovered a img.ico-plus,
    .recent-image .image-hovered a img.ico-link {
        width: 48px;
        height: 48px;
        top: 35%;
        right: 0px;
    }

    .carousel-wrap .recent-work-carousel {
        width: 310px !important;
    }

    .caroufredsel_wrapper {
        width: 310px !important;
    }

    .col-hover.col_4 {
        width: 310px !important;
        margin-top: 0px;
    }

    .carousel-wrap {
        margin-right: 0;
        margin-left: 0;
    }

}


@media only screen and ( min-width : 1px ) and ( max-width: 350px ) {

    /* ----- Widget Tabs ----- */
    #tabs-widget-set {
        height: 120px;
    }

    #tabs-widget-set div {
        width: 100% !important;
        float: none !important;
        height: 40px;
    }

    .widget-tab-2 {
        border-left: 1px solid #cdcdcd;
        border-right: 1px solid #cdcdcd;
        border-top: 1px solid #cdcdcd;
    }

    .widget-tab-3 {
        border: 1px solid #cdcdcd;
        margin-bottom: 5px;
    }

}


@media only screen and ( max-width: 480px ) {

    /* ----- Header ----- */
    .post-header .navigation {
        position: relative;
        float: left;
        right: 27px;
        margin-bottom: 15px;
    }

    .single-container .sociable {
        position: static;
        float: left;
        margin-bottom: 0;
    }

    .single-container .single-content {
        padding-left: 0;
        height: auto;
        clear: left;
    }

    .single-container .sociable ul li {
        clear: none;
        float: left;
    }

    .post-tags {
        margin-left: 0;
    }

    /* ----- Portfolio Page ----- */
    .single-portfolio .post-header {
        clear: both;
    }

    .single-portfolio .post-header h2 {
        margin-right: 0px;
        margin-top: 30px;
    }

    .single-portfolio .post-header .navigation {
        right: 2%;
    }

    .single-portfolio .post-header,
    .single-portfolio .row {
        padding-left: 2%;
        padding-right: 2%;
    }

    .single-portfolio #portfolio-data,
    .single-portfolio #portfolio-sidebar,
    .single-portfolio #portfolio-content {
        width: 100%;
    }

    /* ----- Footer Widget ----- */
    #footer-widgets .col_2,
    #footer-widgets .col_3,
    #footer-widgets .col_4,
    #footer-widgets .col_6 {
        min-width: 100%;
        margin-bottom: 30px;
        padding: 0px 8px;
    }
}


/* Portfolio Sortable */
@media only screen and ( min-width : 861px ) and ( max-width : 1200px ) {

    #portfolio-filter-cont{
        height: 60px !important;
    }

    #portfolio-filters {
        height: inherit;
        max-width: 75%;
        margin: 0px auto;
        line-height: 60px;
    }

    #portfolio-filters ul {
        height: inherit;
    }

    #portfolio-filters a {
        font-size: 10px;
        padding: 10px 25px 3px 21px;
        background: url("../images/icons/portfolio-cat-select-off13.png") no-repeat scroll 0 10px rgba(0, 0, 0, 0);
    }

    #portfolio-filters a.active {
        background: url("../images/icons/portfolio-cat-select-on13.png") no-repeat scroll 0 10px rgba(0, 0, 0, 0);
    }

    span.portfolio-selectrd {
        width: 14px;
        height: 8px;
        left: 18px;
        bottom: -26px;
        background: url("../images/icons/portfolio-cat-selected13.png") no-repeat;
    }

}


/* Portfolio 4x columns */
@media only screen and (min-width : 1100px) and (max-width: 1200px) {

    .container.main-content.port-content4 {
        max-width: 846px !important;
    }

}


@media only screen and ( min-width : 950px ) and ( max-width : 1099px ) {

    .container.main-content.port-content4 {
        max-width: 846px !important;
    }

}


@media only screen and ( min-width : 630px ) and ( max-width : 949px )  {

    .container.main-content.port-content4 {
        max-width: 564px !important;
    }

}


/* Portfolio 3x columns */
@media only screen and ( min-width : 880px ) and ( max-width: 1200px ) {

    .container.main-content.port-content3 {
        max-width: 750px !important;
    }

}


/* Recent Projects */
@media only screen and ( min-width : 1016px ) and ( max-width: 1230px ) {

    .container	{
        max-width: 900px !important;
    }

    .promo-teaser.col-hover.col_4 {
        width: 33.33% !important;
        padding: 14px;
    }

    .promo-teaser.col_6 .teaser-content .content > div {
        top: 45%;
        width: 100%;
        margin-top: -50px;
        padding: 0 16px;
    }

    .promo-teaser.col_6 .teaser-content .content > div .button {
        margin-top: 20px;
        margin-right: 0px;
    }

    .promo-teasers.columns-hover.columns_set2 {
        height: 277px;
    }

    .promo-teasers.columns-hover.columns_set3 {
        height: 216px;
    }

    .promo-teasers .promo-teaser.col-hover.col_4 img {
        max-height: 148px;
        max-width: 281px;
    }

    .promo-teasers .promo-teaser.col-hover.col_6 img {
        max-height: 228px;
        max-width: 433px;
    }

    .promo-teaser.col_4 .teaser-content {
        min-height: 148px;
    }

    .promo-teaser.col_6 .teaser-content {
        min-height: 228px;
    }

    .promo-teaser.col_4 .teaser-content .teaser-title {
        height: 50px;
    }

    .promo-teaser.col_4 .teaser-content h3 {
        font-size: 19px;
    }

    ul.portfolio-items li.recent-post.col-hover.col_4 {
        width: 310px;
        height: 290px;
        margin-right: 0px;
    }

    ul.portfolio-items li.recent-post .recent-image {
        height: 177px;
        width: 100%;
    }

    ul.portfolio-items li.recent-post .recent-image .image-hovered {
        width: 100%;
        height: 177px;
    }

    .recent-image {
        width: 100%;
        height: 220px;
    }

    .recent-image .image-hovered a img.ico-plus,
    .recent-image .image-hovered a img.ico-link {
        width: 48px;
        height: 48px;
        top: 35%;
        right: 0px;
    }

    .carousel-wrap .recent-work-carousel {
        width: 930px !important;
    }

    .caroufredsel_wrapper {
        width: 930px !important;
    }

    .col-hover.col_4 {
        width: 310px !important;
        margin-top: 0px;
    }

    .prising_plan.four_columns .prising_price {
        font-size: 44px!important;
    }

    .prising_plan.one_column .prising_plan_column {
        width: 100%;
    }

    .prising_plan.two_columns .prising_plan_column {
        width: 50%;
    }

    .prising_plan.three_columns .prising_plan_column {
        width: 33%
    }

    .prising_plan.four_columns .prising_plan_column {
        width: 33%;
    }

}


@media only screen and ( min-width : 900px ) and ( max-width: 1015px ) {

    /*div.slider-nav,*/
    .container {
        width: 754px !important;
        margin: 0 auto;
    }

    .col_3 {
        width: 47% !important;
        margin-right: 2.8%;
        float: left;
        margin-top: 20px;
    }

    .promo-teaser.col_4 .teaser-content .teaser-title,
    .promo-teaser.col_6 .teaser-content .teaser-title {
        height: 100px;
    }

    .promo-teaser.col_6 .teaser-content .content > div {
        padding: 0 60px;
    }

    .promo-teaser.col_4 .teaser-content .content > div {
        padding: 0 200px;
    }

    .promo-teasers .promo-teaser.col-hover.col_4 .promo-teas-img,
    .promo-teasers .promo-teaser.col-hover.col_6 .promo-teas-img {
        height: 395px;
        max-height: 395px;
        max-width: 754px;
    }


    .promo-teaser.col_4 .teaser-content h3,
    .teaser-content h3 {
        font-size: 24px;
        line-height: 24px;
    }

    .teaser-content p {
        font-size: 14px;
    }

    ul.portfolio-items li.recent-post.col-hover.col_4 {
        width: 377px;
        height: 324px;
        margin-right: 0px;
    }

    ul.portfolio-items li.recent-post .recent-image {
        height: 221px;
        width: 100%;
    }

    ul.portfolio-items li.recent-post .recent-image .image-hovered {
        width: 100%;
        height: 221px;
    }

    .recent-image {
        width: 100%;
        height: 221px;
    }

    .recent-image .image-hovered a img.ico-plus,
    .recent-image .image-hovered a img.ico-link {
        width: 64px;
        height: 64px;
        top: 35%;
        right: 0px;
    }

    .caroufredsel_wrapper,
    .carousel-wrap .recent-work-carousel {
        width: 755px !important;
    }

    .carousel-heading {
        width: 724px !important;
    }

    .col-hover.col_4 {
        width: 377px !important;
        margin-top: 0px;
    }

    .prising_plan.one_column .prising_plan_column {
        width: 100%;
    }

    .prising_plan.two_columns .prising_plan_column {
        width: 50%;
    }
    .prising_plan.four_columns .prising_plan_column,
    .prising_plan.three_columns .prising_plan_column {
        width: 33%
    }

    /*** Home Slider ***/
    body #featured .video {
        float: left;
        width: 460px!important;
        left: 1px;
        position: relative;
        z-index: 1;
    }

}


@media only screen and ( min-width : 700px ) and ( max-width: 899px ) {

    div.slider-nav,
    .container {
        width: 591px !important;
    }

    .col_3 {
        width: 47% !important;
        margin-right: 2.8%;
        float: left;
        margin-top: 20px;
    }

    .teaser-title {
        height: 80px !important;
    }

    .promo-teaser.col_4 .teaser-content h3,
    .teaser-content h3 {
        font-size: 24px;
        line-height: 24px;
    }

    .teaser-content p {
        font-size: 14px;
    }

    .promo-teaser.col_6 .teaser-content .content > div,
    .promo-teaser.col_4 .teaser-content .content > div {
        top: 45%;
        margin-top: -50px;
        width: 100%;
    }

    .promo-teaser.col_4 .teaser-content .content > div {
        padding: 0 120px;
    }
    .promo-teaser.col_6 .teaser-content .content > div {
        padding: 0 80px;
    }

    .promo-teaser.col_4 .teaser-content .content > div .button {
        margin-top: 20px;
    }
    .promo-teasers .promo-teaser.col-hover.col_4 .promo-teas-img,
    .promo-teasers .promo-teaser.col-hover.col_6 .promo-teas-img {
        height: 310px;
        max-height: 310px;
        max-width: 589px;
        width: 100%;
    }

    ul.portfolio-items li.recent-post.col-hover.col_4 {
        margin-right: 0px;
        width: 310px;
        height: 290px;
    }

    ul.portfolio-items li.recent-post .recent-image {
        height: 177px;
        width: 100%;
    }

    ul.portfolio-items li.recent-post .recent-image .image-hovered {
        width: 100%;
        height: 178px;
    }

    .recent-image {
        width: 100%;
        height: 220px;
    }

    .recent-image .image-hovered a img.ico-plus,
    .recent-image .image-hovered a img.ico-link {
        width: 48px;
        height: 48px;
        top: 35%;
        right: 0px;
    }

    .caroufredsel_wrapper,
    .carousel-wrap .recent-work-carousel {
        width: 620px !important;
    }

    .col-hover.col_4 {
        width: 310px !important;
        margin-top: 0px;
    }

    .prising_plan.two_columns .prising_plan_column,
    .prising_plan.three_columns .prising_plan_column,
    .prising_plan.four_columns .prising_plan_column {
        width: 50%;
    }

}


@media only screen and ( min-width : 410px ) and ( max-width: 699px ) {

    div.slider-nav, .container {
        width: 350px !important;
    }

    .col_3 {
        width: 100%;
        float: left;
        margin-top: 20px;
    }

    .promo-teaser.col_4 .teaser-content {
        min-height: 148px;
    }

    .promo-teaser.col_6 .teaser-content {
        min-height: 183px;
    }

    .promo-teaser.col_6 .teaser-content .content > div {
        margin-top: -65px;
    }

    .promo-teasers .promo-teaser.col-hover.col_4 .promo-teas-img,
    .promo-teasers .promo-teaser.col-hover.col_6 .promo-teas-img {
        height: 183px;
        max-height: 183px;
        max-width: 348px;
        width: 100%;
    }

    .team_member.col-hover.col_1,
    .team_member.col-hover.col_2,
    .team_member.col-hover.col_3,
    .team_member.col-hover.col_4,
    .team_member.col-hover.col_5 {
        width: 100% !important;
    }

    ul.portfolio-items li.recent-post.col-hover.col_4 {
        width: 377px;
        height: 324px;
        margin-right: 0px;
    }

    .recent-image,
    ul.portfolio-items li.recent-post .recent-image
    ul.portfolio-items li.recent-post .recent-image .image-hovered {
        height: 221px;
        width: 100%;
    }

    .recent-image .image-hovered a img.ico-plus,
    .recent-image .image-hovered a img.ico-link {
        width: 64px;
        height: 64px;
        top: 35%;
        right: 0px;
    }

    .carousel-wrap .recent-work-carousel {
        width: 755px !important;
    }

    .caroufredsel_wrapper {
        width: 377px !important;
    }

    .carousel-heading {
        width: 350px !important;
    }

    .col-hover.col_4 {
        width: 377px !important;
        margin-top: 0px;
    }

}


/* Sidebar Pyre Tabs Widget */
@media only screen and ( min-width : 1000px ) and ( max-width: 1100px ) {
    #tabs-widget-set {
        height: 120px;
    }

    #tabs-widget-set div {
        width: 100% !important;
        height: 40px;
        float: none !important;
    }

    .widget-tab-2 {
        border-left: 1px solid #cdcdcd;
        border-right: 1px solid #cdcdcd;
        border-top: 1px solid #cdcdcd;
    }

    .widget-tab-3 {
        border: 1px solid #cdcdcd !important;
        margin-bottom: 5px;
    }

}


@media only screen and ( min-width : 300px ) and ( max-width: 1015px ) {

    .promo-teaser.col-hover.col_4 {
        width: 100% !important;
        padding: 14px;
    }

    .promo-teaser.col-hover.col_6 {
        width: 100% !important;
        padding: 15px 15px 16px;
    }

    .promo-teaser.col_4 .teaser-content .content > div {
        padding: 0 30px;
    }

    .promo-teaser.col_6 .teaser-content .content > div {
        top: 45%;
        margin-top: -50px;
        width: 100%;
        padding: 0 16px;
    }

    .promo-teaser.col_6 .teaser-content .content > div .button {
        margin-top: 20px;
        margin-right: 0px;
    }

    .promo-teasers.columns-hover.columns_set2 {
        height: auto;
    }

    .promo-teasers.columns-hover.columns_set3 {
        height: auto;
    }

    .promo-teasers .promo-teaser.col-hover.col_6 img,
    .promo-teasers .promo-teaser.col-hover.col_4 img {
        height: 100%;
        width: 100%;
        max-height: 100%;
        max-width: 100%;
    }

    .promo-teaser.col_4 .teaser-content h3 {
        font-size: 19px;
    }

}


@media only screen and ( min-width : 1px ) and ( max-width : 1000px ) {

    .col_12,.col_11,.col_10,.col_9,.col_8,.col_7,.col_6,.col_5,.col_4,.col_2,.col_1 {
        width: 100%!important;
        margin-left: 0;
        margin-top: 20px;
    }

    div.slider-nav {
        position: relative;
        max-width: 600px;
        margin: -40px auto 0px auto;
    }

    body div.slider-nav > span {
        height: 25px!important;
        width: 25px!important;
    }

    body .orbit-wrapper div.slider-nav > span.left, body .orbit-wrapper div.slider-nav > span.right {
        background-color: #fff!important;
        top: 0px !important;
    }

    body div.slider-nav > span.left {
        left: 0px!important;
    }

    body div.slider-nav > span.right {
        left: 30px!important;
    }


    div.slider-nav span span {
        display: none!important;
    }

}


@media only screen and (min-width : 690px) and (max-width : 1000px) {

    body #featured .orbit-slide article .container {
        top: 0px!important;
        opacity: 1!important;
        position: relative!important;
    }

    body #featured .orbit-slide article .container .col_12 {
        width: 600px!important;
    }

    #page-header-bg .span_6 h1 {
        font-size: 32px!important;
        line-height: 32px!important;
    }
    #page-header-bg .span_6 span.subheader {
        font-size: 22px!important;
    }

    #page-header-bg .span_6 {
        top: auto!important;
        float: none!important;
    }
}


@media only screen and ( min-width: 1001px ) and ( max-width: 1199px ) {
    #page-header-bg .span_6 h1 {
        font-size: 49px!important;
        line-height: 49px!important;
    }
    #page-header-bg .span_6 span.subheader {
        font-size: 22px!important;
    }

    #page-header-bg .span_6 {
        top: auto!important;
        float: none!important;
    }
}


@media only screen and ( min-width: 800px ) and ( max-width: 1023px ) {

    /* Portfolio Page */
    .single-portfolio .post-header { clear: both; }
    .single-portfolio .post-header .navigation { right: 4%; }
    .single-portfolio .post-header,
    .single-portfolio .row { padding-left: 4%; padding-right: 4%; }

    /* Footer Widget */
    #footer-widgets .col_2 { min-width: 30.5%; margin-bottom: 30px; }
}


@media only screen and ( min-width: 600px ) and ( max-width: 799px ) {

    .post-header .navigation {
        position: relative;
        float: left;
        right: 27px;
        margin-bottom: 15px;
    }

    /* Portfolio Page */
    .single-portfolio .post-header {
        clear: both;
    }

    .single-portfolio .post-header .navigation {
        right: 3%;
    }

    .single-portfolio .post-header,
    .single-portfolio .row {
        padding-left: 3%;
        padding-right: 3%;
    }

    .single-portfolio #portfolio-data,
    .single-portfolio #portfolio-sidebar,
    .single-portfolio #portfolio-content {
        width: 100%;
    }

    /* Footer Widget */
    #footer-widgets .row  {
        padding-left: 2px;
    }

    #footer-widgets .col_2 {
        min-width: 30.5%;
        margin-bottom: 30px;
    }

    #footer-widgets .col_3,
    #footer-widgets .col_4 {
        min-width: 47.2%;
        margin-bottom: 30px;
    }

    #footer-widgets .col_6 {
        min-width: 100%;
        margin-bottom: 30px;
        padding: 0px 8px;
    }
}


@media only screen and ( min-width: 480px ) and ( max-width: 599px ) {

    /* ----- Header ----- */
    .container,
    div.slider-nav {
        max-width: 75%!important;
    }
    #wizard_tabs_wrapper .container {
        max-width: 100%!important;
    }

    .post-header .navigation {
        position: relative;
        float: left;
        right: 27px;
        margin-bottom: 15px;
    }

    .post-content {
        padding-left: 0;
    }

    /* Portfolio Page */
    .single-portfolio .post-header {
        clear: both;
    }

    .single-portfolio .post-header h2 {
        margin-right: 0px;
        margin-top: 30px;
    }

    .single-portfolio .post-header .navigation {
        right: 2%;
    }

    .single-portfolio .post-header,
    .single-portfolio .row {
        padding-left: 2%;
        padding-right: 2%;
    }

    .single-portfolio #portfolio-data,
    .single-portfolio #portfolio-sidebar,
    .single-portfolio #portfolio-content {
        width: 100%;
    }

    /* Footer Widget */
    #footer-widgets .row  {
        padding-left: 2px;
    }

    #footer-widgets .col_2,
    #footer-widgets .col_3,
    #footer-widgets .col_4 {
        min-width: 47.2%;
        margin-bottom: 30px;
    }

    #footer-widgets .col_6 {
        min-width: 100%;
        margin-bottom: 30px;
        padding: 0px 8px;
    }
}