
* { -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

/* MAIN CONTAINER */
.container	{ margin: 0 auto; max-width: 1100px; position: relative; }

.row {
    position: relative;
}

/* SELF CLEARING FLOATS - CLEARFIX METHOD */
.row:after, .col:after, .clr:after, .group:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }


/* DEFAULT ROW STYLES */
.row { padding-bottom: 2em; } /* set according to preference*/
a { font-size: 12px; color: #818181; text-decoration: none; }
a:hover { color: #f7524a; }